<ion-content style="--background: #e7e7e7;">

    <div style="background-color: #e7e7e7; height: 100%">

        <div style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;background: #3a7be0;height: 20%">
            <ion-row>
                <ion-col style="margin-left: 1vh;" size="9">
                    <ion-toolbar style="--background: #3a7be0;">
                        <ion-back-button slot="start" defaultHref="/" style="color: #e7e7e7"></ion-back-button>
                        <h1 style="font-size: 18px; font-weight: 900; color: #e7e7e7;margin-top: 5%">Mes
                            dossiers</h1>
                    </ion-toolbar>
                </ion-col>
                <ion-col style="margin-top: 5px">
                    <ion-avatar class="cAvatar">
                        <img class="cImage" src="../../assets/images/profile.png">
                    </ion-avatar>
                </ion-col>
                <ion-menu-button menu="main-menu"></ion-menu-button>
            </ion-row>

        </div>

        <ion-card style="margin-top: -5vh;margin-left: 15px;margin-right: 15px;border-radius: 15px">
            <div style="margin-left: 10px">
                <h4><b>Dossier du code PPM: 0028</b></h4>
                <p style="font-size: 12px;color: #3a7be0">Cette liste contient que les 15 dernisers dossiers</p>

                <ion-row style="margin-left: -2vh">
                    <ion-col size="7.5">
                        <ion-searchbar style="--border-radius: 20px"></ion-searchbar>
                    </ion-col>
                    <ion-col size="4.5" style="margin-top: 3%">
                        <ion-button size="small" shape="round" (click)="go()" fill="outline">Rechercher</ion-button>
                    </ion-col>
                </ion-row>

                <ion-list>
                    <ion-card style="margin-right: 15px;border-radius: 10px">
                        <ion-row>
                            <ion-col size="10">
                                <h3>N°0428
                                    <ion-badge style="margin-left: 5px;background: #2dd36f">Initialisé</ion-badge>
                                </h3>
                            </ion-col>
                            <ion-col class="ion-text-right" (click)="testOpen()" *ngIf="mode == false">
                                <ion-icon style="margin-right: 10px;width: 20px;height: 20px;margin-top: 5px"
                                          name="chevron-down-outline"></ion-icon>
                            </ion-col>
                            <ion-col class="ion-text-right" (click)="testOpen()" *ngIf="mode == true">
                                <ion-icon style="margin-right: 10px;width: 20px;height: 20px;margin-top: 5px;color: #eb445a"
                                          name="chevron-up-outline"></ion-icon>
                            </ion-col>
                        </ion-row>

<!--                        <ion-col (click)="testOpen()" *ngIf="mode == true">-->
<!--                            <ion-icon style="margin-right: 10px;width: 20px;height: 20px;margin-top: 5px"-->
<!--                                      name="chevron-up-outline"></ion-icon>-->
<!--                        </ion-col>-->
                        <!--                        <ion-col>-->
                        <!--                            <ion-icon style="margin-right: 10px;width: 20px;height: 20px;margin-top: 5px;color: #2dd36f"-->
                        <!--                                      name="chevron-down-outline"></ion-icon>-->
                        <!--                        </ion-col>-->

                        <div id="list1" class="list1" style="margin-left: 5%">
                            <p>Date: 08-07-2020</p>
                            <p><b>Bénéficiare: </b> HAROUNE SALL</p>

                            <ion-button (click)="goToDetails()" shape="round" style="--background: #3dc2ff;margin-right: 5%" expand="block"><b>INFOS DU DOSSIER</b></ion-button>

                        </div>
                    </ion-card>


                    <ion-card style="margin-right: 15px;border-radius: 10px">
                        <ion-row>
                            <ion-col size="10">
                                <h3>N°0428
                                    <ion-badge style="margin-left: 5px;background: #2dd36f">Initialisé</ion-badge>
                                </h3>
                            </ion-col>
                            <ion-col class="ion-text-right" (click)="testOpen2()" *ngIf="mode2 == false">
                                <ion-icon style="margin-right: 10px;width: 20px;height: 20px;margin-top: 5px"
                                          name="chevron-down-outline"></ion-icon>
                            </ion-col>
                            <ion-col class="ion-text-right" (click)="testOpen2()" *ngIf="mode2 == true">
                                <ion-icon style="margin-right: 10px;width: 20px;height: 20px;margin-top: 5px;color: #eb445a"
                                          name="chevron-up-outline"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <!--                        <ion-col>-->
                        <!--                            <ion-icon style="margin-right: 10px;width: 20px;height: 20px;margin-top: 5px;color: #2dd36f"-->
                        <!--                                      name="chevron-down-outline"></ion-icon>-->
                        <!--                        </ion-col>-->
                        <div id="list2" class="list2" style="margin-left: 5%">
                            <p>Date: 08-07-2020</p>
                            <p><b>Bénéficiare: </b> HAROUNE SALL</p>

                            <ion-button (click)="goToDetails()"  shape="round" style="--background: #3dc2ff;margin-right: 5%" expand="block"><b>INFOS DU DOSSIER</b></ion-button>

                        </div>
                    </ion-card>
                </ion-list>
            </div>

        </ion-card>

        <ion-button shape="round" fill="outline" expand="block" (click)="gotToFavoris()"
                    style="font-size: 10px;margin-left: 3%;margin-right: 3%; --background: #FFFFFF">
            <ion-icon name="list" style="margin-right: 5px"></ion-icon>
            Consultez mes dossiers favoris
        </ion-button>


        <ion-card style="margin-bottom: -20vh;margin-left: 20px;margin-right: 20px;border-radius: 15px" (click)="goToFireBase()">
            <h1 class="ion-text-center"><b>My Orbus</b></h1>
            <h5 style="font-size: 15px" class="ion-text-center"><b style="color:#3a7be0;">Gerez votre compte </b>ORBUS
            </h5>

            <h5 class="ion-text-center" style="font-size: 13px">Version demo de My Orbus. Fièrement propulsé</h5>
            <h5 class="ion-text-center" style="font-size: 13px">par Gaindé 2000.</h5>

            <ion-footer style="padding: 5px">
                <p style="margin-top: 10px;font-size: 12px" class="ion-text-center">Copyright MyOrbus 2021. All Rights
                    Reserved</p>
            </ion-footer>
        </ion-card>


        <div style="border-top-left-radius: 20px; border-top-right-radius: 20px;background: #3a7be0;height: 25%">


        </div>

    </div>
</ion-content>
