<div style="background-color: #e7e7e7; height: 100%">

    <div style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;background: #3a7be0;height: 20%">
        <ion-row>
            <ion-col style="margin-left: 1vh;" size="8.5">
                <ion-toolbar style="--background: #3a7be0;">
                    <ion-back-button slot="start" defaultHref="/" style="color: #e7e7e7"></ion-back-button>
                    <h5 style="font-size: 16px; font-weight: 900; color: #e7e7e7;margin-bottom: 20px">Payer le dossier: 5800</h5>
                </ion-toolbar>
            </ion-col>
            <ion-col style="margin-top: 5px;margin-right: px">
                <ion-avatar class="cAvatar">
                    <img class="cImage" src="../../assets/images/profile.png">
                </ion-avatar>
            </ion-col>
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-row>

    </div>

    <ion-card style="margin-top: -5vh;margin-left: 20px;margin-right: 20px">
        <div style="margin-left: 10px">
            <h4><b>Merci de choisir votre mode de paiement</b></h4>
            <p style="font-size: 15px" class="ion-text-center">Appuyez sur un poyen de paiement<br>et renseignez le montant</p>

            <ion-row style="margin-right: 10px">
                <ion-col>
                    <ion-card style="height: 130px" (click)="openOM()">
                        <img src="assets/images/om.png"  style="height: 70%;width: 100%;">
                        <p class="ion-text-center">Orange money</p>
                    </ion-card>
                </ion-col>

                <ion-col>
                    <ion-card style="height: 130px" (click)="openFM()">
                        <img style="height: 70%;width: 100%;" src="assets/images/fm.png">
                        <p class="ion-text-center">Free money</p>
                    </ion-card>
                </ion-col>
            </ion-row>
        </div>
    </ion-card>

</div>
