<ion-content style="background-color: #e7e7e7; height: 100%">

    <div style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;background: #3a7be0;height: 20%">
        <ion-row>
            <ion-col style="margin-left: 1vh;" size="9">
                <ion-toolbar style="--background: #3a7be0;">
                    <ion-back-button slot="start" defaultHref="/" style="color: #e7e7e7"></ion-back-button>
                    <h1 style="font-size: 20px; font-weight: 900; color: #e7e7e7;margin-top: 5%">Créer un
                        compte</h1>
                </ion-toolbar>
            </ion-col>
            <ion-col style="margin-top: 5px">
                <!--                <ion-avatar class="cAvatar">-->
                <!--                    <img class="cImage" src="../../assets/images/profile.png">-->
                <!--                </ion-avatar>-->
            </ion-col>
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-row>

    </div>

    <ion-card style="margin-top: -8vh;margin-left: 20px;margin-right: 20px;border-radius: 15px">

        <p style="margin-left: 3%;margin-top: 3%">Merci de renseigner tous les champs du <br>formulair.</p>

        <ion-list>
            <ion-item>
                <ion-label>Type de compte</ion-label>
                <ion-select interface="popover">
                    <ion-select-option value="usage">USAGE</ion-select-option>
                    <ion-select-option value="abonne">ABONNE</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-input type="text" placeholder="Prenom et nom">
                    <ion-icon name="person" style="margin-right: 10px"></ion-icon>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="text" placeholder="N° de telephone">
                    <ion-icon name="call" style="margin-right: 10px"></ion-icon>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="email" placeholder="Adresse de messagerie">
                    <ion-icon name="mail" style="margin-right: 10px"></ion-icon>
                </ion-input>
            </ion-item>

            <br>


            <h4 class="ion-text-center">Informations ORBUS</h4>

            <ion-item>
                <ion-input type="text" placeholder="Votre code PPM">
                    <ion-icon name="list" style="margin-right: 10px"></ion-icon>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-input type="text" placeholder="Compte ORBUS">
                    <ion-icon name="radio-button-on-outline" style="margin-right: 10px"></ion-icon>
                </ion-input>
            </ion-item>

        </ion-list>


        <ion-button style="margin-right: 15%;margin-left: 15%;--background: deepskyblue" expand="block">Valider mon inscription</ion-button>
        <br>

        <p (click)="goToLogin()" style="margin-left: 3%; color: deepskyblue">Vous avez déja un compte? connectez-vous</p>
    </ion-card>

    <br>

    <ion-card style="margin-bottom: -20vh;margin-left: 20px;margin-right: 20px;border-radius: 15px" (click)="goToFireBase()">
        <h1 class="ion-text-center"><b>My Orbus</b></h1>
        <h5 style="font-size: 15px" class="ion-text-center"><b style="color:#3a7be0;">Gerez votre compte </b>ORBUS
        </h5>

        <h5 class="ion-text-center" style="font-size: 13px">Version demo de My Orbus. Fièrement propulsé</h5>
        <h5 class="ion-text-center" style="font-size: 13px">par Gaindé 2000.</h5>

        <ion-footer style="padding: 5px">
            <p style="margin-top: 10px;font-size: 12px" class="ion-text-center">Copyright MyOrbus 2021. All Rights
                Reserved</p>
        </ion-footer>
    </ion-card>


    <div style="border-top-left-radius: 20px; border-top-right-radius: 20px;background: #3a7be0;height: 25%">


    </div>

</ion-content>
