<!--<ion-header>-->
<!--    <ion-toolbar color="primary">-->
<!--        <ion-title>-->
<!--            Ionic Image Upload-->
<!--        </ion-title>-->
<!--    </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content padding>-->
<!--    <h3 *ngIf="images.length == 0" text-center>Please Select Image!</h3>-->

<!--    <ion-row>-->
<!--        <ion-col>-->
<!--            <ion-button (click)="GoToHome2()">Go to home 2</ion-button>-->
<!--        </ion-col>-->
<!--        <ion-col>-->
<!--            <ion-button (click)="GoToTest()">Go to test</ion-button>-->
<!--        </ion-col>-->
<!--    </ion-row>-->

<!--    <ion-list>-->
<!--        <ion-item *ngFor="let img of images; index as pos" text-wrap>-->
<!--            <ion-thumbnail slot="start">-->
<!--                <ion-img [src]="img.path"></ion-img>-->
<!--            </ion-thumbnail>-->
<!--            <ion-label>-->
<!--                {{ img.name }}-->
<!--            </ion-label>-->
<!--            <ion-button slot="end" fill="clear" (click)="startUpload(img)">-->
<!--                <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>-->
<!--            </ion-button>-->
<!--            <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">-->
<!--                <ion-icon slot="icon-only" name="trash"></ion-icon>-->
<!--            </ion-button>-->
<!--        </ion-item>-->
<!--    </ion-list>-->
<!--</ion-content>-->

<!--<ion-footer>-->
<!--    <ion-toolbar color="primary">-->
<!--        <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">-->
<!--            <ion-icon slot="start" name="camera"></ion-icon>-->
<!--            Select Image</ion-button>-->
<!--    </ion-toolbar>-->
<!--</ion-footer>-->









<!------------------------------------------------------------------------------------------------------------------------------->

<div style="background-color: #e7e7e7; height: 100%">

    <div style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;background: #3a7be0;height: 20%">
        <ion-row>
            <ion-col style="margin-left: 2vh;" size="8">
                <h1 style="font-size: 20px; font-weight: 900; color: #e7e7e7;">Bonjour,</h1>
                <p style="font-size: 20px; font-weight: 900; margin-top: 5px;">Mor Talla Diop</p>
            </ion-col>
            <ion-col class="ion-text-right">
                <ion-avatar class="cAvatar">
                    <img class="cImage" src="../../assets/images/profile.png">
<!--                    <ion-icon class="cIcone" name="camera-outline"></ion-icon>-->
                </ion-avatar>
<!--                <ion-icon style="width: 30%;height: 30%;" class="ion-padding" name="person-outline"></ion-icon>-->
            </ion-col>
        </ion-row>

    </div>

    <ion-card style="margin-top: -5vh;margin-left: 20px;margin-right: 20px">
        <ion-row style="margin-left: 10px">
            <ion-col size="9">
                <h4><b>Accueil</b></h4>
                <p style="font-size: 12px;color: #3a7be0">Là ou tout commence</p>
            </ion-col>
            <ion-col class="ion-text-right">
                <ion-icon style="width: 50%;height: 50%;color: #2dd36f" class="ion-padding" name="home"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card style=";margin-left: 20px;margin-right: 20px">
        <ion-row style="margin-left: 10px">
            <ion-col size="9">
                <h4><b>Mes dossiers</b></h4>
                <p style="font-size: 11px;color: #3a7be0">Cusultez,recherchez et payez vos dossiers</p>
            </ion-col>
            <ion-col class="ion-text-right">
                <ion-icon style="width: 50%;height: 50%;color: #eb445a" class="ion-padding" name="document"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card style=";margin-left: 20px;margin-right: 20px">
        <ion-row style="margin-left: 10px">
            <ion-col size="9">
                <h5><b>Paiement Facture/Dossier<br>/Autres Services Orbus</b><br></h5>
                <p style="font-size: 12px;color: #3a7be0">Payer une facture, un dossier ou autre service</p>
            </ion-col>
            <ion-col class="ion-text-right">
                <ion-icon style="width: 50%;height: 50%;color: #5d58e0" class="ion-padding" name="folder"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card style=";margin-left: 20px;margin-right: 20px;">
        <ion-row style="margin-left: 10px">
            <ion-col size="9">
                <h4><b>Paramètres</b><br></h4>
                <p style="font-size: 12px;color: #3a7be0">Là ou tout commence</p>
            </ion-col>
            <ion-col class="ion-text-right">
                <ion-icon style="width: 50%;height: 50%;color: #ed576b" class="ion-padding" name="cog"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-card>

    <ion-card style=";margin-left: 20px;margin-right: 20px">
        <ion-row style="margin-left: 10px">
            <ion-col size="9">
                <h4><b>Mes favoris</b><br></h4>
                <p style="font-size: 12px;color: #3a7be0">Là ou tout commence</p>
            </ion-col>
            <ion-col class="ion-text-right">
                <ion-icon style="width: 50%;height: 50%;color: #e0bb2e" class="ion-padding" name="star"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-card>


</div>
